canvas {
    position: relative;
    background: #fefefe;
    border-radius: 10px;
    width: 300px !important;
    height: 150px !important;
    margin: 10px;
}

.userCount {
    position: relative;
    margin-left: 70px;
    margin-top: 10px;
    margin-right: 20px;
    background: #5a6268;
    padding: 8px;
    border-radius: 20px;
    display: flex;
}

#current {
    width: 930px !important;
    height: 470px !important;
}
