* {
    transition: all 900ms ease-out;
    -webkit-transition: all 900ms ease-out;
}

html, body, section, .page {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
    -webkit-transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
    color: #fff;
    background: #374046;
    overflow-x: hidden;
}

section {
    width:400%;
}

.page {
    position: absolute;
}

#p1 {
    left: 0;
}

#p2 {
    left: 100%;
    background: #FF5722;
}

#p3 {
    left: 200%;
    background: #593C1F;
}

#p4 {
    left: 300%;
    background: deeppink;
}

ul {
    position: fixed;
    z-index: 1;
}
#t1:target .page#p1 {
    transform: translateX(0);
}
#t2:target .page#p2 {
    transform: translateX(-95%);
}
#t3:target .page#p3 {
    transform: translateX(-195%);
}
#t4:target .page#p4 {
    transform: translateX(-295%);
}

#t2:target .page#p1,
#t3:target .page#p1,
#t4:target .page#p1 {
    background: black;
}

.icon {
    color: #fff;
    font-size: 32px;
    display: block;
}

ul .icon:hover {
    opacity: 0.6;
}

#p1 .icon .title {
    margin-bottom: 20px;
}

#t1:target ul .icon,
#t2:target ul .icon,
#t3:target ul .icon,
#t4:target ul .icon {
    transform: scale(1.3);
    transition-delay: .7s;
}

#t1:target #uno {
    transform: scale(2) !important;
}

#t2:target #dos {
    transform: scale(2) !important;
}

#t3:target #tres {
    transform: scale(2) !important;
}

#t4:target #cuatro {
    transform: scale(2) !important;
}

ul {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 280px;
    width: 5%;
    padding: 0;
    text-align: center;
}

ul li {
    margin: 30px 0;
}

a {
    text-decoration: none;
}

.title, .hint {
    display: block;
}

.title {
    font-size: 38px;
}

.hint {
    font-size: 13px;
}

.hint a {
    color: #EFFF06;
    transition: all 250ms ease-out;
}

.hint a:hover {
    color: #FFF;
}

.page .icon {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10%;
    left: 0;
    transform: translateX(360%);
}
.page#p1 .icon {
    transform: translateX(0) !important;
}

#t2:target .page#p2 .icon {
    transform: translateX(0) !important;
    transition-delay: 1s;
}

#t3:target .page#p3 .icon {
    transform: translateX(0) !important;
    transition-delay: 1s;
}

#t4:target .page#p4 .icon {
    transform: translateX(0) !important;
    transition-delay: 1s;
}

.nav {
    z-index: 2;
    left: 30%;
    position: absolute;
    display: inline-flex;
    max-width: 100%;
    background-color: #040505;
    padding: 0 20px;
    border-radius: 40px;
    box-shadow: 0 10px 40px rgba(4, 5, 5, .8);
    opacity: 0;
    transition: opacity .5s linear;
}


.navbar:hover .nav {
    opacity: 1;
}

.nav-item {
    color: #83818c;
    padding: 20px;
    text-decoration: none;
    transition: .3s;
    margin: 0 6px;
    z-index: 1;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    position: relative;
}

button{
    background-color: #040505;
    color: #040505;
    border: #040505;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: large;
}

.nav-item:not(.is-active):hover:before {
    opacity: 1;
    bottom: 0;
}


.nav-item:not(.is-active):hover { color: #333; }

.nav-indicator {
    position: absolute;
    left: 0;
    bottom: 0;
    transition: .4s;
    height: 5px;
    z-index: 1;
    border-radius: 8px 8px 0 0;
}

@media (max-width: 580px) {
    .nav { overflow: auto; }
}

.acc {
    margin-top: 20px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: large;
}