form {
    margin-top: 10px;
}
h1 {;
    margin: 10px 0 5px 8px;
}
.form-control {
    background: transparent !important;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid black !important;
    color: black;
}
.form-control:focus{
    box-shadow: none;
}

.form-group {
    display: flex;
}

fieldset {

    display: flex;
    margin-left: 15px;
}

#user_gender {
    display: flex;
}

.form-control {
    width: 300px;
    margin-right: 12px;
}

.col-4 .form-control {
    width : 300px !important;
}

label {
    margin-top: 7px;
    margin-right: 7px;
}

#dataset3 label {
     margin-right: 15px;
     margin-left: 15px;
}
#dataset3 + label {
     margin-top: 7px;
}

.form-check {
    margin-right: 20px !important;
    margin-left: 30px !important;
}
.check {
    margin: 0 5px 0 60px;
 }


fieldset > div {
    margin-left: 30px;
}

#user_confirmer {
    font-size:1.8vw;
    padding:5px 10px;
    margin:0 5px;
    cursor: pointer;
    outline: none;
    position: relative;
    left: 85%;
    color: #000000;
    background-color: transparent;
    border: black 1px solid;
}

#user_confirmer:hover {
    background-color: #000000;
    color:#ffffff;
}

#alter_user_confirmer {
    font-size:1.8vw;
    padding:5px 10px;
    margin:0 5px;
    cursor: pointer;
    outline: none;
    position: relative;
    left: 85%;
    color: #000000;
    background-color: transparent;
    border: black 1px solid;
}

#alter_user_confirmer:hover {
    background-color: #000000;
    color:#ffffff;
}

#dataset1 {
    display: flex;
    border: 1px black solid;
    margin: 20px 50px 50px 50px;
    /*border: #471b01 1px solid;*/
    border-radius: 15px;
    padding-top: 17px;
    padding-left: 12px;
    background-color: rgba(221,221,221,.4);
}
#dataset2 {
    border: 1px black solid;
    margin: 50px 50px 50px 50px;
    border-radius: 15px;
    padding-left: 12px;
    padding-top: 17px;
    background-color: rgba(221,221,221,.4);

}
#dataset3 {
    border: 1px black solid;
    margin: 50px 50px 50px 50px;
    border-radius: 15px;
    padding-top: 17px;
    margin-bottom: 10px !important;
    background-color: rgba(221,221,221,.4);

}
.captcha {
    top: 90px;
    right: 150px;
    position: relative;
    float: right;
}


@media only screen and (min-width: 768px) {
    .rc-anchor-light {
        transform:scale(0.85);
        -webkit-transform:scale(0.85); }
}

.container .row label{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 7px !important;
}

.check label {
    margin: 0 0 0 0 !important;
    padding-bottom: 2px;
}

.alert-danger {

    background-color: rgba(252,127,38,.3);
    border-radius: 20px !important;
    margin: 10px !important;
}


.user_sexe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

legend {
    padding: 0 0 0 0 !important;
    margin: 0 0 0 0 !important;
}

a {
    text-decoration: none !important;
}

/*.gender + .form-group>label {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/