{% extends 'base.html.twig' %}

{% block body %}
<div id="slider">

    <div id="liste">
        {% for categorie in categories %}
        <a href="{{ path('categories') }}" class="card">
            <img src="{{ asset(categorie.img) }}">
            <div class="overlay">
                <h2>{{ categorie.profession }}</h2>
            </div>
        </a>
        {% endfor %}
    </div>
    <div class="slideButtons">
        <button id="slideLeft" type="button">
            {% include '/svg/back.svg.twig' %}
        </button>
        <button id="slideRight" type="button">
            {% include '/svg/next.svg.twig' %}
        </button>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/landingPage.js') }}"></script>
{% endblock %}