<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}5edma admin{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/admin_style.css') }}">
    <link rel="stylesheet" href="{{ asset('node_modules/font-awesome/css/font-awesome.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>

<div class="ct" id="t1">
    <div class="ct" id="t2">
        <div class="ct" id="t3">
                <section>
                    <ul>
                        <li>
                            <a href="#t1"><i class="icon fa fa-home" id="uno"></i></a>
                        </li>
                        <li>
                            <a href="#t2"><i class="icon fa fa-user" id="dos"></i></a>
                        </li>
                        <li>
                            <a href="#t3"><i class="icon fa fa-briefcase" id="tres"></i></a>
                        </li>
                    </ul>

                    <div class="page" id="p1">
                        {% block page1 %}
                        {% endblock %}
                    </div>

                    <div class="page" id="p2">
                        {% block page2 %}
                        {% endblock %}
                    </div>


                    <div class="page" id="p3">
                        {% block page3 %}
                        {% endblock %}
                    </div>

                </section>

        </div>
    </div>
</div>
{% block javascripts %}
{% endblock %}
</body>
</html>
