{% extends 'base.html.twig' %}
{% block body %}
    <style>
        footer {
            position: absolute !important;
        }
    </style>
    <h1 style="margin-left: 20px">En attente de vérification de votre compte veuillez vérifier votre boite mail.</h1>
{% endblock %}
{% block title %}
Confirmer votre compte
{% endblock %}